div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-6
      h2 Characters
      ul.characters(ng-repeat="character in characters") 
        li 
          a.btn.btn-default.btn-sm.btn-activate(href='' ng-click='activateCharacter(character._id)')
            | Activate
          p {{ character.name }}

    .col-sm-6
      h2 New Character
      .new-character
        form.form(name='form', ng-submit='createCharacter(form)')
          .form-group
            label Name
            input.form-control(type='text', name='name', ng-model='newCharacter.name', ng-required="true")

          .form-group.has-error
            p.help-block(ng-show='form.name.$error.required && submitted')
              | Please enter a name.
            p.help-block {{ errors.other }}

          div
            button.btn.btn-default.btn-login(type='submit')
              | Create